#welcome-section {
    background-size: cover;
    background-position: center;
    width: 100%;
}

.container {
    max-width: 800px;
    margin: 0px auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.container img.logo {
    margin-top: -100px;
}
.container h1 {
    text-transform:uppercase;
}

.heading-timeline {
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
    width: 90%;
    max-width: 500px;
    margin: 15px auto 0;
}

.heading-timeline-year {
    position: relative;
    z-index: 1;
    font-size: 1.5em;
    color: var(--text-color);
}

.heading-timeline-line {
    flex-grow: 0.9; 
    height: 2px; 
    background-color: var(--text-color);
    z-index: 0;
}

.slidetel a {
    font-size: 1.5em;
    text-decoration:none;
    color: inherit;    
}
